* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Inconsolata, sans-serif;
  font-size: 14px;
  line-height: 20px;
  list-style: none;
}
.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
  background-color: #ffffff;
  z-index: 1;
  border-bottom: 3px solid #000;
}

.header a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  font-style: bold;
  color: #000000;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #000000;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scaleY(1);
}

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: #151418;
    align-items: start;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu a {
    margin-left: 20px;
  }

  .menu-icon {
    display: block;
    color: #000000;
    font-size: 28px;
    cursor: pointer;
  }

  .menu a {
    color: #ffffff;
  }
}

/* Start of home section */

.section-home {
  background-color: #ffc700;
  padding: 30px 5vw;
  height: 75vh;
}

.section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.section-image {
  width: 45%;
  box-shadow: black 20px 20px;
}

.section-image img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.section-text {
  width: 70vw;
  color: #fff;
}

.section-text h1 {
  font-size: 5vw;
  margin: 0 0 50px 0;
  color: #000;
}

.section-text h2 {
  font-size: 4vw;
  margin: 0 0 40px 0;
  color: transparent;
  -webkit-text-stroke: 0.2vw black;
}

.white-box-button {
  width: 12vw;
  height: 3vw;
  background-color: white;
  color: black;
  font-size: 2vw;
  padding-top: 15px;
  padding-left: 2vw;
  box-shadow: black 0.5vw 0.5vw;
  cursor: pointer;
}

.section-icons {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.section-icons i {
  font-size: 2.4vw;
  margin: 2vw 1vw;
  color: black;
}

@media only screen and (max-width: 950px) {
  .section-home {
    height: 100vh;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .section-image {
    width: 100%;
    max-width: 400px;
    margin-top: 2vw;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .section-image img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .section-text {
    text-align: center;
    margin-top: 2vw;
  }

  .section-text h1 {
    margin: 0 0 3vw 0;
  }

  .section-text h2 {
    margin: 0 0 2vw 0;
  }

  .white-box-button {
    width: 25vw;
    font-size: 3vw;
    padding: 1vw 2vw;
    cursor: pointer;
    margin-top: 3vw;
    display: inline-block;
  }

  .section-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }

  .section-icons i {
    font-size: 4vw;
    margin: 2vw;
    color: black;
  }
}

/* Start Of About Section */

.section-about {
  background-color: #fff;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3vw;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 100px 0;
}

.about-content p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5vw;
  line-height: 3vw;
}

.about-image {
  text-align: center;
  margin-top: 20px;
  width: 400px;
}

.about-image img {
  max-width: 100%;
}

@media only screen and (max-width: 950px) {
  .about-content {
    padding: 0 50px 0;
  }
}
/* Start of skills section */

.section-skills {
  background-color: #919bf8;
  padding: 40px 20px;
}

.section-skills > .container {
  background-color: transparent;
}

.skills-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.skills-title h2 {
  margin: 0;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.skills-box {
  background-color: #fff;
  margin: 0 10px 20px;
  width: calc(33.33% - 20px);
  height: auto;
  box-shadow: black 0.5vw 0.5vw;
}

.skills-image {
  text-align: center;
  padding: 40px 10px 10px;
}

.skills-image img {
  max-width: 40%;
}

.skills-text {
  padding: 20px;
  text-align: center;
  font-size: 1rem;
}

.skills-text h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
@media only screen and (max-width: 950px) {
  .skills-box {
    width: 100%;
  }
}

/* Resume Section */
/* Default styles for resume section */
.resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #f7d04d;
  padding: 10px 20px;
  height: 10px;
  box-shadow: black 0.5vw 0.5vw;
  color: #000;
  border: #000 2px solid;
}

.image-container {
  width: 50%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.resume-right-container {
  padding-left: 10px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-box-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.resume-box-row {
  display: flex;
  padding: 50px;
  justify-content: space-between;
}

.resume-box {
  width: 250px;
  height: 150px;
  background-color: red;
  position: relative;
  box-shadow: black 0.5vw 0.5vw;
  display: flex;
  flex-direction: column;
}

.resume-secondary-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -25%;
  left: 5%;
  width: 30%;
  height: 50%;
  background-color: white;
  border: #000 2px solid;
}

.resume-box-container h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.education .resume-box {
  background-color: #d99bf9;
}

.experience .resume-box {
  background-color: #ef8f35;
}

.resume-secondary-box-img {
  max-width: 100%;
  max-height: 100%;
}

.resume-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.resume-box-h6 {
  margin-top: 5px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .resume {
    flex-direction: column;
  }
  .image-container,
  .resume-right-container {
    width: 100%;
  }
  .resume-right-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    flex-direction: column;
  }
  .resume-box-row {
    flex-direction: column;
    padding: 20px;
  }
  .resume-box {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .resume-secondary-box {
    top: -15%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50%;
  }
  .resume-box-container {
    align-items: center;
  }
}

/* Projects Section */
.projects {
  background-color: #ff90e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  position: relative;
}

.project {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: white;
  box-shadow: black 0.5vw 0.5vw;
}

.project iframe {
  width: 100%;
  height: 300px;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.project-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project-info p {
  margin-bottom: 20px;
}

.project-info a {
  background-color: #6ad69d;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
}

@media screen and (min-width: 768px) {
  .project {
    flex-direction: row;
    height: 400px;
  }

  .project iframe {
    width: 50%;
    height: 100%;
  }

  .project-info {
    width: 50%;
    padding: 40px;
    text-align: left;
  }
}

@media screen and (min-width: 1024px) {
  .projects {
    max-width: 1200px;
    margin: 0 auto;
  }

  .project-info h3 {
    font-size: 2rem;
  }

  .project-info p {
    margin-bottom: 40px;
  }
}

/* Contact Section */

.contact {
  background-color: #eeedde;
  align-items: center;
  padding: 70px 0;
  position: relative;
}

.divider {
  width: 100%;
  background-color: #0ff2bc;
  height: 100px;
  border: #000 2px solid;
  border-bottom: none;
  align-items: center;
}

.contact-form {
  background-color: #fefefe;
  display: flex;
  border: #000 2px solid;
  flex-direction: column;
  align-items: center;
}

.contact-image {
  width: 50%;
  height: auto;
  padding: 50px;
}

form {
  width: 100%;
  padding: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #0ff2bc;
  border: #000 2px solid;
  padding: 10px;
  cursor: pointer;
  width: 50%;
  box-shadow: black 0.5vw 0.5vw;
  margin: 10px 25% 0;
}

.contact-container {
  background-color: transparent;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider h2,
.divider h4 {
  text-align: center;
  margin: 20px;
}

@media only screen and (min-width: 768px) {
  .contact-form {
    flex-direction: row;
  }
  .contact-image {
    width: 30%;
    padding: 50px;
  }
  form {
    width: 70%;
    padding: 50px;
  }
  input[type="submit"] {
    width: 20%;
    margin: 10px 40% 0;
  }
}

/* Footer styles */
footer {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}

.footer-left img {
  height: 40px;
  margin-right: 20px;
}

.footer-middle a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
}

.footer-right {
  display: flex;
  align-items: center;
}

.social-icons {
  display: flex;
  margin-right: 20px;
}

.social-icons a {
  color: #ffffff;
  margin-right: 10px;
}

.social-icons a:last-child {
  margin-right: 0;
}

/* Media queries */
@media screen and (max-width: 768px) {
  footer {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-middle {
    margin-top: 40px;
  }
  .footer-middle {
    margin-top: 20px;
    flex-basis: 100%;
    text-align: center;
  }
  .footer-middle a {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }

  .footer-right {
    flex-basis: 100%;
    justify-content: center;
    margin-top: 20px;
  }
}
